body{
    text-align: center;
    background-image: url("https://wallpaperaccess.com/full/2202073.jpg");   
}
.login_div{
    background-color: white;
    border-radius: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

hr {
    width: 100px;
    height: 10px;
    background-color:brown;
}

button{
    border-radius: 12px;
    background-color: green;
    height:50px;
    width: 100px;
    color: white;
    font-weight: bold;
}
